/* view.css */
body {
    background: linear-gradient(to left, #f8e9e8, #e5f6f6, #fff0f5);
}
.user-management-container {
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
}

.page-btn.active {
    background-color: #007bff !important;
    border-color: #007bff !important;
    color: white !important;
}

.delete-selected-btn {
    padding: 6px;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
th,
td {
    text-align: left;
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
}
.select-product {
    text-align: center;
}
th.select-product,
td.select-product {
    width: 50px;
}
/* Responsive */
@media (max-width: 768px) {
    .user-management-container {
        width: 100%;
        padding: 10px;
    }
    table {
        font-size: 14px;
    }
    th,
    td {
        padding: 10px;
    }
}
@media (max-width: 480px) {
    .user-management-container {
        padding: 5px;
    }
    table {
        font-size: 12px;
    }
    th,
    td {
        padding: 5px;
    }
}